<div class="team_return_goods_top">
  <div class="team_return_goods_top_data">
    <div class="team_return_goods_top_data_number green"><%= @total_orders_count %>件</div>
    <div class="team_return_goods_top_data_text">总销量</div>
  </div>
  <div class="team_return_goods_top_data">
    <div class="team_return_goods_top_data_number red"><%= @returned_orders_count %>件</div>
    <div class="team_return_goods_top_data_text">退货量</div>
  </div>
  <div class="team_return_goods_top_data" style="margin-top: 39px">
    <div class="team_return_goods_top_data_number red"><%= number_to_percentage(@return_ratio) %></div>
    <div class="team_return_goods_top_data_text">退货率</div>
  </div>
  <div class="team_return_goods_top_text">
    <div class="team_return_goods_top_text_title">注意事项</div>
    <div class="team_return_goods_top_text_detail">1.团队只能处理签收日次日起七日内的退货</div>
    <div class="team_return_goods_top_text_detail">2.退货运费由买家负责</div>
  </div>
</div>
<div class="team_return_goods_middle">
  <div class="team_return_goods_middle_title">退货联系方式</div>
  <table>
    <tbody>
      <tr class="team_return_goods_table_title">
        <td>产品名</td>
        <td>收件人</td>
        <td>电话</td>
        <td>收件地址</td>
      </tr>
      <tr>
        <td>Pearlty多一折无线自拍杆</td>
        <td>许静</td>
        <td>18575870383</td>
        <td>深圳市南山区南山高新南四道泰邦科技大厦12F</td>
      </tr>
      <tr>
        <td>乐心BonBon运动手环</td>
        <td>李兴建</td>
        <td>0760-85166920 </td>
        <td>广东省中山市锦安路8号</td>
      </tr>
      <tr>
        <td>魔调智能耳机</td>
        <td>古莉媚</td>
        <td>0755-23763130</td>
        <td>深圳市龙华新区民治街道梅龙路与中梅路交汇处441号光浩国际中心12楼</td>
      </tr>
      <tr>
        <td>360安全路由P1</td>
        <td>于溪</td>
        <td>13910328327</td>
        <td>广东东莞市塘厦镇三坑路10号磊科旗舰店</td>
      </tr>
      <tr>
        <td>乐蜗虚拟现实眼镜</td>
        <td>刘记参</td>
        <td>15618363645</td>
        <td>上海市浦东新区居里路123号4幢607</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="team_return_goods_bottom">
  <div class="team_return_goods_bottom_title">退货单</div>
  <div class="team_return_goods_bottom_add">
    <%= link_to "添加新退货单", new_contest_team_refund_record_path(@contest_team), class: 'refund_record_new_action' %>
  </div>
  <table>
    <tbody>
      <tr class="team_return_goods_table_title">
        <td>订单号</td>
        <td>数量</td>
        <td>收件人</td>
        <td>退货物流</td>
        <td>退货运单号</td>
        <td>退货状态</td>
        <td>操作</td>
      </tr>
      <% @refund_records.each do |r| %>
        <tr>
          <td><%= r.order.order_number %></td>
          <td class="team_return_goods_count"><%= r.quantity %></td>
          <td><%= r.order.receiver %></td>
          <td><%= r.express.name %></td>
          <td><%= r.tracking_number %></td>
          <% if r.remark.blank? %>
            <td><%= refund_record_status_text(r.status) %></td>
          <% else %>
            <td><a class="a_live refund_record_remark_action" data-message="<%= r.remark %>"><%= refund_record_status_text(r.status) %></td>
            <% end %>
            <td>
              <% if r.status == RefundRecord::PENDING %>
                <%= link_to '编辑', edit_contest_team_refund_record_path(@contest_team, r), class: 'refund_record_edit_action' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="team_return_goods_popup" id="team_return_goods_popup">
  </div>
  <div id="refund_record_remark_box" class="popup" style="display: none;">
    <div class="resales_popup_box">
      <div class="customer_service_info">
        <ul>
          <li><span style="color: black;">订单备注:</span></li>
          <li class="refund_record_remark_message">
            货发错了
          </li>
          <li style="text-align: right">
            <a class="close_refund_record_remark_button">知道了</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
