<% if !@express_data || @express_data.empty? %>
  <div class="order-express-information-msg">暂无物流信息~</div>
<% else %>
  <ul class="order-express-information-table">
    <% @express_data.each_with_index do |r, i| %>
      <li>
        <% if i == 0 %>
          <div class="mobile-express-table-detail">
            <%= image_tag 'mobile-green-circle.png' %>
            <span class="express-latest-time"><%= r[:time] %></span>
          </div>
          <div class="mobile-express-table-detail-time">
            <span class="express-latest-context"><%= r[:context] %></span>
          </div>
        <% else %>
          <div class="mobile-express-table-detail">
            <%= image_tag 'mobile-grey-circle.png' %>
            <span><%= r[:time] %></span>
          </div>
          <div class="mobile-express-table-detail-time">
            <span><%= r[:context] %></span>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>