<% content_for :page_header do %>
  <a class="back mobile_go_back_button">
    <%= image_tag "mobile_back.png" %>
  </a>
  <div class="mobile-page-title">
    订单列表
  </div>
<% end %>
  <div class="container">
    <div class="status_box">
      <ul>
        <li>
        <%= link_to "全部订单", user_orders_path(@user), class: params[:status].blank? ? 'current_tab' : '' %>
      </li>
      <li>
        <%= link_to "待付款", user_orders_path(@user, status: [0]), class: params[:status] == ['0'] ? 'current_tab' : '' %>
      </li>
      <li>
        <%= link_to "待收货", user_orders_path(@user, status: [1, 2]), class: params[:status] == ['1', '2'] ? 'current_tab' : '' %>
      </li>
      <li>
        <%= link_to "已完成", user_orders_path(@user, status: [3, 4]), class: params[:status] == ['3', '4'] ? 'current_tab' : '' %>
      </li>
      </ul>
    </div>
    <div class="status_box_line">
    </div>
    <!--order list-->
    <div class="order_lists">
      <ul>
        <% @orders.each do |order| %>
        <li>
          <!--tips-->
          <div class="order_tips">
            <span class="order_number">订单号：<%= order.order_number %></span>
            <%= link_to "查看订单", user_order_path(@user, order), class: 'order_detail' %>
          </div>
          <!--order infos-->
          <div class="order_infos">
            <ul>
              <li>
                <%= image_tag order.product_image_url, class:'order_product_img'%>
                <div class="order_product_name_price">
                  <div class="order_product_name">
                    <%= order.product_name %>
                  </div>
                  <div class="order_product_price">
                    ¥<%= order.unit_price %>（单价）
                  </div>
                </div>
              </li>
              <li>
                <span class="order_info_left">购买数量</span>
                <span class="order_info_right">x <%= order.quantity %></span>
              </li>
              <li>
                <span class="order_info_left">订单金额</span>
                <span class="order_info_right span_green">￥<%= order.total_price %></span>
              </li>
              <li>
                <span class="order_info_left">订单状态</span>
                <span class="order_info_right span_green"><%= order_status_text(order.status) %></span>
              </li>
            </ul>
          </div>
          <!--order action-->
          <div class="order_action">
            <%= form_for [@user, order], html: {class: "cancel_order_#{order.id}_form"} do |f| %>
              <%= f.hidden_field :status, value: Order::CANCELLED %>
              <% end %>
            <%= form_for [@user, order], html: {class: "receive_order_#{order.id}_form"} do |f| %>
              <%= f.hidden_field :status, value: Order::COMPLETE %>
            <% end %>
            <div class="order_action product_tt_40">
            <% if [Order::TO_PAY].include?(order.status) %>
               <%= link_to "立即支付", user_order_payment_path(@user, order), class: 'order_pay_bt a_bt_hight' %>
            <% end %>
            <% if [Order::TO_PAY, Order::PAID].include?(order.status) %>
               <a class="cancel_order_action order_cancel_bt a_bt" data-order-id="<%= order.id %>">取消订单</a>
            <% end %>
            <% if [Order::DELIVERED].include?(order.status) && order.express.present?%>
              <a class="order_pay_bt a_bt_hight receive_order_action" data-order-id="<%= order.id %>">确认收货</a>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="cancel_order_box" class="popup">
    <div class="confirm_popup_box">
    <div class="confirm_title">
      确定取消订单？
    </div>
      <div class="confirm_action">
        <a class="cancel_cancel_order_button">
          关闭窗口
        </a>
        &nbsp;&nbsp;&nbsp;
        <a class="confirm_cancel_order_button">
          取消订单
        </a>
      </div>
    </div>
  </div>
  <div id="receive_order_box" class="popup">
    <div class="confirm_popup_box">
      <div class="confirm_title">
        确认收货?
      </div>
      <div class="confirm_action">
        <a class="cancel_receive_order_button">
          关闭窗口
        </a>
        &nbsp;&nbsp;&nbsp;
        <a class="confirm_receive_order_button">
          确认收货
        </a>
      </div>
    </div>
  </div>
