<% content_for :mobile_page_title do %>
  提交订单-草垛网
<% end %>
<% content_for :page_header do %>
  <a class="back mobile_go_back_button">
    <%= image_tag "mobile_back.png" %>
  </a>
  <div class="mobile-page-title">
    提交订单
  </div>
<% end %>
<%= form_for [@user, @order] do |f| %>
  <%= f.hidden_field :product_id %>
  <%= f.hidden_field :user_id %>
  <%= hidden_field_tag :new_order_refresh_url, new_user_order_path(@user, @order), class: 'new_order_refresh_url' %>
  <%= hidden_field_tag :new_address_url, new_user_address_path(@user), class: 'new_address_url' %>
  <div class="submission-detail-container">
    <div class="submission-detail">
      <div class="submission-deadline">库存有限，请尽快支付订单</div>
      <div class="submission-step">
        <%= image_tag "mobile_payment_step_one.png", class: 'step-img' %>
      </div>
      <div class="product-information">
        <% if @contest_team %>
          <div class="product-information-team-name">来自<%= @contest_team.name %>的推荐</div>
        <% end %>
        <div class="product-information-top">购买产品：</div>
        <div class="product-information-middle">
          <div class="product-information-image">
            <%= image_tag @product.product_view.product_carousel_images[0].url, class: 'order-product-thumbnail' %>
          </div>
          <div class="product-information-text">
            <div class="product-information-name"><%= @product.name %></div>
            <% if @product.product_version %>
            <div class="product-information-product-version">
              <div class="product-information-product-version-tag">产品型号：</div>
              <div class="product-information-product-version-content"><%= @product.product_version %></div>
            </div>
            <% end %>
            <div class="product-information-price">
              <div class="product-information-price-tag">产品单价：</div>
              <div class="product-information-price-data">￥<%= "#{'%.2f' % @product.actual_price}" %></div>
            </div>
          </div>
        </div>
        <div class="product-information-bottom">
          <%= hidden_field_tag('quantity-limit-field', Settings.sale.max_quantity) %>
          <%= hidden_field_tag('order_random_id', @order_random_id) %>
          <div class="product-information-quantity">购买数量：</div>
          <div class="product-information-quantity-controller">
            <a class="quantity-controller-increase">
              <span>+</span>
            </a>
          </div>
          <div class="product-information-quantity-number">
            <%= f.text_field :quantity, class: 'quantity-number quantity-input' %>
          </div>
          <div class="product-information-quantity-controller">
            <a class="quantity-controller-decrease">
              <span>-</span>
            </a>
          </div>
        </div>
      </div>
      <div class="order-address">
        <div class="order-address-top">
          <div class="order-address-tag">收货地址：</div>
          <div class="order-address-creation">
            <a href="#" class="new_address_action" style="color: #15ae10">+添加收货地址</a>
          </div>
        </div>
        <div class="order-address-bottom">
          <% (@addresses || @user.addresses.order(created_at: :desc)).each do |address| %>
            <%= f.label :"address_id_#{address.id}" do %>
              <div class="address-selection">
                <div class="order-address-select-button"><%= f.radio_button :address_id, address.id %></div>
                <div class="order-address-select-content">
                  <div><%= "#{address.receiver} #{address.phone}" %></div>
                  <div><%= "#{address.try(:province).try(:name)}#{address.try(:city).try(:name)}#{address.try(:district).try(:name)}#{address.detailed_address}" %></div>
                </div>
            <% end %>
            </div>
          <% end %>
          <div class="error-message" id="username-error"><%= @order.errors.messages[:address_id].first if @order.errors[:address_id].any? %></div>
        </div>
      </div>
      <% if @coupons.any? %>
        <div class="order-coupon">
          <div class="order-coupon-tag">使用优惠券</div>
          <div class="order-coupon-list">
            <ul>
              <% @coupons.each do |coupon| %>
                <li>
                  <input type="radio" name="coupon_id" value="<%= coupon.id %>" class="order-coupon-radio">
                  <span>金额:</span>
                  <span class="order-coupon-price"><%= coupon.money %></span>
                  <span>有效期至:</span> <span><%= coupon.end_date %></span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="order-information">
        <%= hidden_field_tag('unit-price-field', @product.actual_price) %>
        <div class="order-information-top">
          <div class="order-information-text">产品金额：￥<span class="total-price-display"></span></div>
          <div class="order-information-text">产品优惠：-￥<span class="total-coupon-price-display">0.00</span></div>
          <div class="order-information-text">运费：0.00</div>
        </div>
        <div class="order-information-bottom">总计金额：￥<span class="total-finally-price-display"></span></div>
      </div>
      <%= f.submit '提交订单', :disable_with => '正在提交订单ing', class: 'order-submission' %>
      <div class="error-message" id="order-random-id-error">
        <% if @order.errors[:order_random_id].any? %> <%= @order.errors.messages[:order_random_id].first %>
          可在<%= link_to "订单管理", user_orders_path(session[:login_user_id]), {class: 'green'} %>中查看
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div id="edit_address_box" class="popup">
</div>
