<%= form_for [@user, @order] do |f| %>
  <%= f.hidden_field :product_id %>
  <%= f.hidden_field :user_id %>
  <%= hidden_field_tag :new_address_url, new_user_address_path(@user), class: 'new_address_url' %>
  <div class="submission-detail-container">
    <div class="submission-detail">
      <div class="submission-deadline">库存有限，请尽快支付订单</div>
      <div class="submission-step">
        <%= image_tag "payment-step-one.png", class: 'step-img' %>
      </div>
      <div class="product-information">
        <div class="product-information-team-name">来自某个省某个把自己名字起了两公里长的队伍推荐</div>
        <div class="product-information-top">购买产品：</div>
        <div class="product-information-middle">
          <div class="product-information-image">
            <%= image_tag @product.product_view.product_carousel_images[0].url, class: 'order-product-thumbnail' %>
          </div>
          <div class="product-information-text">
            <div class="product-information-name"><%= @product.name %></div>
            <div class="product-information-price">
              <div class="product-information-price-tag">产品单价：</div>
              <div class="product-information-price-data">￥<%= "#{'%.2f' % @product.price}" %></div>
            </div>
          </div>
        </div>
        <div class="product-information-bottom">
          <%= hidden_field_tag('quantity-limit-field', Settings.sale.max_quantity) %>
          <div class="product-information-quantity">购买数量：</div>
          <div class="product-information-quantity-controller">
            <a class="quantity-controller-increase">
              <span>+</span>
            </a>
          </div>
          <div class="product-information-quantity-number">
            <%= f.text_field :quantity, class: 'quantity-number quantity-input' %>
          </div>
          <div class="product-information-quantity-controller">
            <a class="quantity-controller-decrease">
              <span>-</span>
            </a>
          </div>
        </div>
      </div>
      <div class="order-address">
        <div class="order-address-top">
          <div class="order-address-tag">收货地址：</div>
          <div class="order-address-creation">
            <!-- <a class="add_new_address" style="color: #15ae10">+添加收货地址</a> -->
            <a href="#" class="new_address_action" style="color: #15ae10">+添加收货地址</a>
          </div>
        </div>
        <div class="order-address-bottom">
        <%= f.collection_select :address_id, @addresses || @user.addresses.where(deleted: false).order(created_at: :desc),
            :id, :to_text, {prompt: '请选择收货地址'}, {class: 'address-selection'} %>
            <div class="error-message" id="username-error"><%= @order.errors.messages[:address_id].first if @order.errors[:address_id].any? %></div>
        </div>
      </div>
      <div class="order-information">
        <%= hidden_field_tag('unit-price-field', @product.price) %>
        <div class="order-information-top">
          <div class="order-information-text">产品金额：￥<span class="total-price-display"></span> </div>
          <div class="order-information-text">产品数量：x <span class="quantity-display"></span> </div>
          <div class="order-information-text">运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费：0</div>
        </div>
        <div class="order-information-bottom">总计金额：￥<span class="total-price-display"></span></div>
      </div>
      <%= f.submit '提交订单', :disable_with => '正在提交订单ing', class: 'order-submission' %>
    </div>
  </div>
<% end %>
<div id="edit_address_box" class="popup">
</div>