<% content_for :page_header do %>
  <a onclick="goBack()" class="back">
    <%= image_tag "back.png" %>
  </a>
  <div class="mobile-page-title">
    订单详情
  </div>
<% end %>
<div class="order_box">
    <div class="order_product_info">
      <!--title-->
      <div class="order_product_title">
        购买产品：
      </div>
      <!--product -->
      <div class="order_product">
        <%= image_tag @order.product_image_url, class: 'order_product_img' %>
        <div class="order_product_name_price">
          <div class="order_product_name">
            Helaoam nnaoaom anndao anana
          </div>
          <div class="order_product_price">
            产品单价:<strong> ¥<%= @order.unit_price %> </strong>
          </div>
        </div>
      </div>
      <div class="order_row">
        <span class="col_name">购买数量:</span>
        <strong class="strong_value right"><%= @order.quantity %>件</strong>
      </div>
      <div class="order_row">
        <span class="col_name">总计金额:</span>
        <strong class="strong_value right">￥241</strong>
      </div>
    </div>
    <!--order info-->
    <div class="order_product_info">
      <!--title-->
      <div class="order_product_title">
        订单信息：
      </div>
      <div class="order_row">
        <span class="col_name">订单编号:<%= @order.order_number %></span>
      </div>
      <div class="order_row">
        <span class="col_name">下单时间:</span>
        <strong class="strong_value left"><%= @order.created_at.in_time_zone.strftime('%Y-%m-%d') %></strong>
      </div>
      <div class="order_row">
        <span class="col_name">订单状态:</span>
        <strong class="strong_value left">未支付</strong>
      </div>
    </div>
    <!--delivery info-->
    <div class="order_product_info">
      <!--title-->
      <div class="order_product_title">
        收货地址：
      </div>
      <div class="order_row">
        <span class="col_name"><%= @order.receiver %></span>
        <span class="col_name" style="margin-left:10px"><%= @order.phone %></span>
      </div>
      <div class="order_row">
        <span class="col_name">
        <%= "#{@order.province_name}#{@order.city_name}#{@order.district_name}#{@order.detailed_address}" %>
        </span>
      </div>
    </div>
</div>