<% content_for :page_header do %>
  <a class="back mobile_go_back_button">
    <%= image_tag "mobile_back.png" %>
  </a>
  <div class="mobile-page-title">
    订单详情
  </div>
<% end %>
<div class="order_box">
    <div class="order_product_info">
      <!--title-->
      <div class="order_product_title">
        购买产品：
      </div>
      <!--product -->
      <div class="order_product">
        <%= image_tag @order.product_image_url, class: 'order_product_img' %>
        <div class="order_product_name_price">
          <div class="order_product_name">
            Helaoam nnaoaom anndao anana
          </div>
          <div class="order_product_price">
            产品单价:<strong> ¥<%= @order.unit_price %> </strong>
          </div>
        </div>
      </div>
      <div class="order_row">
        <span class="col_name">购买数量:</span>
        <strong class="strong_value right"><%= @order.quantity %>件</strong>
      </div>
      <div class="order_row">
        <span class="col_name">总计金额:</span>
        <strong class="strong_value right">￥241</strong>
      </div>
    </div>
    <!--order info-->
    <div class="order_product_info">
      <!--title-->
      <div class="order_product_title">
        订单信息：
      </div>
      <div class="order_row">
        <span class="col_name">订单编号:<%= @order.order_number %></span>
      </div>
      <div class="order_row">
        <span class="col_name">下单时间:</span>
        <strong class="strong_value left"><%= @order.created_at.in_time_zone.strftime('%Y-%m-%d') %></strong>
      </div>
      <div class="order_row">
        <span class="col_name">订单状态:</span>
        <strong class="strong_value left"><%= order_status_text(@order.status) %></strong>
      </div>
    </div>
    <!--delivery info-->
    <div class="order_product_info">
      <!--title-->
      <div class="order_product_title">
        收货地址：
      </div>
      <div class="order_row">
        <span class="col_name"><%= @order.receiver %></span>
        <span class="col_name" style="margin-left:10px"><%= @order.phone %></span>
      </div>
      <div class="order_row">
        <span class="col_name">
        <%= "#{@order.province_name}#{@order.city_name}#{@order.district_name}#{@order.detailed_address}" %>
        </span>
      </div>
      <div class="order_row">
        <% if @order.express_id.present? && @order.tracking_number.present? %>
        <span class="col_name">快递方式:</span>
        <span><%= @order.express.name %>－运单号<%= @order.tracking_number %></span>
        <% end %>
      </div>
    </div>
    <div class="one_order_action">
      <%= form_for [@user, @order], html: {class: "receive_order_#{@order.id}_form"} do |f| %>
        <%= f.hidden_field :status, value: Order::COMPLETE %>
      <% end %>
      <%= form_for [@user, @order], html: {class: "cancel_order_#{@order.id}_form"} do |f| %>
        <%= f.hidden_field :status, value: Order::CANCELLED %>
      <% end %>
      <% if [Order::DELIVERED].include?(@order.status)  %>
        <a class="order_pay_bt a_bt_hight" href="http://www.kuaidi100.com">查看物流</a>
        <a class="order_pay_bt a_bt_hight receive_order_action" data-order-id="<%= @order.id %>">确认收货</a>
      <% end %>
      <% if [Order::TO_PAY].include?(@order.status)  %>
        <%= link_to "立即支付", user_order_payment_path(@user, @order), class: 'order_pay_bt a_bt_hight' %>
      <% end %>
      <% if [Order::TO_PAY, Order::PAID].include?(@order.status) %>
        <a class="order_cancel_bt a_bt cancel_order_action" data-order-id="<%= @order.id %>">取消订单</a>
      <% end %>
      <% if [Order::COMPLETE].include?(@order.status)  %>
        <a class="order_cancel_bt a_bt return_application_action">申请退货</a>
      <% end %>
    </div>
</div>

  <div id="return_application_box" class="popup">
  <div class="resales_popup_box">
    <div class="customer_service_info">
      <ul>
        <li>请联系客服</li>
        <li>
          <p> 电话：<strong style="color: #333333">010-2453464</strong></p>
          <p> QQ：<strong style="color: #333333">24141554656</strong></p>
        </li>
        <li style="text-align: right">
          <a class="close_return_application_box_button">知道了</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <!--取消订单 confirm-->
  <div id="cancel_order_box" class="popup">
    <div class="confirm_popup_box">
      <div class="confirm_title">
        <span style="position: relative;top: 10px">
            确定取消订单吗？
                </span>
      </div>
      <div class="confirm_action">
        <a class="cancel_cancel_order_button">
          关闭窗口
        </a> &nbsp;&nbsp;&nbsp;
        <a class="confirm_cancel_order_button">
          取消订单
        </a>
      </div>
    </div>
  </div>