<% content_for :page_header do %>
  <a class="back mobile_go_back_button">
    <%= image_tag "mobile_back.png" %>
  </a>
  <div class="mobile-page-title">
    收货地址
  </div>
<% end %>
  <div class="container">
    <div class="status_box">
      <ul>
        <li>
          <a class="current_a new_address_action">
                添加收货地址
            </a>
            <%= hidden_field_tag :new_address_url, new_user_address_path(@user), class: 'new_address_url' %>
        </li>
      </ul>
    </div>
    <div class="status_box_line">
    </div>
    <div class="delivery_user">
      <ul>
        <% @addresses.each do |address| %>
        <li class="user_address_li">
          <%= hidden_field_tag :edit_address_url, edit_user_address_path(@user, address), class: 'edit_address_url' %>
          <%= form_for([@user, address], html: {class: "delete_address_#{address.id}_form"}) do |f| %>
            <%= f.hidden_field :deleted, value: true %>
          <% end %>
          <%= form_for([@user, address], html: {class: "update_default_address_#{address.id}_form"}) do |f| %>
            <%= f.hidden_field :default, value: true %>
          <% end %>
          <input type="hidden" class="update_address_url" value="<%=user_address_path(@user, address)%>">
          <ul class="delivery_one_user_ul">
            <li>
              <span class="address_span">收件人：</span>
              <span><%= address.receiver %></span>
              <% if address.default %>
                <span class="default_address" style="float: right;color: #3FB134">
                  默认地址
                </span>
              <% end %>
            </li>
            <li>
              <span class="address_span">所在地区：</span>
              <span><%= address.try(:province).try(:name) %><%= address.try(:city).try(:name) %><%= address.try(:district).try(:name) %></span>
            </li>
            <li>
              <span class="address_span">地址：</span>
              <span><%= address.detailed_address %></span>
            </li>
            <li>
              <span class="user_before address_span">手机：</span>
              <span class="user_before"><%= address.phone %></span>
            </li>
            <li>
              <div class="address_action">
                <!-- <a class="set_default_address">设为默认地址</a> -->
                <% if !address.default %>
                <a class="set_default_address update_default_address_action" data-address-id="<%=address.id%>">设为默认地址</a>
                <% end %>
                <!-- <a class="delete_order">删除</a> -->
                <a class="delete_order delete_address_action" data-address-id="<%=address.id%>">删除</a>
                <!-- <a class="update_address">修改</a> -->
                <a class="update_address edit_address_action" data-address-id="<%=address.id%>">修改</a>
              </div>
            </li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!--设为默认地址 confirm-->
  <div id="set_default_address_box" class="popup">
    <div class="confirm_popup_box">
      <div class="confirm_title">
        <span style="position: relative;top: 10px">
            设置当前地址为默认地址吗？
        </span>
      </div>
      <div class="confirm_action">
        <a class="close cancel_update_default_address_button">
                取消

            </a> &nbsp;&nbsp;&nbsp;
        <a class="confirm_update_default_address_button">

                确认

            </a>
      </div>
    </div>
  </div>

  <!--删除地址 confirm-->
  <div id="delete_address_box" class="popup">
    <div class="confirm_popup_box">
      <div class="confirm_title">
        <%= image_tag "mobile_warning.png" %>
        <span style="position: relative;top: -20px">

            确定删除此收货地址吗？

                </span>
      </div>
      <div class="confirm_action">
        <a class="cancel_delete_address_button">
          取消
        </a> &nbsp;&nbsp;&nbsp;
        <a class="confirm_delete_address_button">
          确认删除
        </a>
      </div>
    </div>
  </div>

  <div id="edit_address_box" class="popup">
  </div>

