<% content_for :mobile_page_title do %>
  草垛助力大学生营销策划赛
<% end %>
<% content_for :page_header do %>
  <a href="/" class="logo">
    <%= image_tag "mobile_logo.png" %>
  </a>
<% end %>
<div class="game_container">
  <div class="game_poster_content">
    <%= image_tag "mobile_game_poster.jpg", class: "game_poster" %>
  </div>
  <div class="game_recommend_content">
    <div class="game_recommend_title">
      <h3><%= @contest_team.name %>团队向你推荐</h3>
    </div>
    <div class="game_share_content">
      <div class="game_share_title">为TA推广: </div>
      <div class="game_share_icons">
        <a class="csns-share-button" data-cmd="tsina"></a>
        <a class="csns-share-button" data-cmd="qzone"></a>
        <a class="csns-share-button" data-cmd="renren"></a>
      </div>
    </div>
    <ul class="game_recommend_product_container">
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
          <li class="game_recommend_product_content">
            <%= image_tag product.product_view.sale_image_url, class: 'game_recommend_product_img' %>
            <div class="game_recommend_product_detail">
              <p class="game_recommend_product_name"><%=product.name %></p>
              <p class="recommend_product_price">
                <% if product.reduced_price.present? %>
                  <span class="product-discount-text">
                    <span class="product-discount-hint" style=>惠</span>
                    <span class="product-reduced-price"><%= "减#{product.price - product.reduced_price}元" %></span>
                  </span>
                <% end %>
                <span class="recommend_product_price">￥<%=product.price %></span>
              </p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div style="height:20px;"></div>
</div>
