<% content_for :page_title do %>
  找回密码-草垛网
<% end %>
<div class="user-op-form-panel center-block forget-password-box">
  <div class="user-op-form-header">
    找回密码
  </div>
  <%= form_for @user, url: {action: :reset_password}, method: :post, html: {id: 'forget-password'} do |f| %>
    <div class="submit-panel input-panel">
      <%= f.submit "提交", data: {disable_with: '正在提交'} %>
    </div>
    <div class="username-panel input-panel">
      <%= f.text_field :username, placeholder: "输入您的手机号", id: 'username-input' %>
      <div class="error-message" id="username-error"><%= @user.errors.messages[:username].first if @user.errors[:username].any? %></div>
    </div>
    <div class="security-code-panel input-panel">
      <%= f.text_field :security_code, placeholder: "短信验证码", class: 'security-code-input' %>
      <button class="security-code-button">获取验证码</button>
      <div class="error-message" id="security-code-error"><%= @user.errors.messages[:security_code].first if @user.errors[:security_code].any? %></div>
    </div>
  <% end %>
</div>
