<div class="user-op-form-link">
  新用户，快速注册？
</div>
<div class="user-op-form-panel center-block login-box">
  <div class="user-op-form-header">
    登陆
  </div>
  <%= form_for @user, url: {action: :do_login}, method: :post do |f| %>
    <div class="username-panel input-panel">
      <%= f.text_field :username, placeholder: "注册手机号" %>
      <div class="error-message" id="username-error"><%= @user.errors.messages[:username].first %></div>
    </div>
    <div class="password-panel input-panel">
      <%= f.password_field :password, placeholder: '密码' %>
      <div class="error-message"><%= @user.errors.messages[:password].first %></div>
    </div>
    <div class="forget-password-panel input-panel">
      忘记密码?
    </div>
    <div class="submit-panel input-panel">
      <%= f.submit "登录" %>
    </div>
  <% end %>
</div>
