<div class="user-op-form-link">
  <%= link_to "新用户，快速注册？", action: :new %>
</div>
<div class="user-op-form-panel center-block login-box">
  <div class="user-op-form-header">
    登陆
  </div>
  <%= form_for @user, url: {action: :do_login}, method: :post do |f| %>
    <div class="username-panel input-panel">
      <%= f.text_field :username, placeholder: "注册手机号" %>
      <div class="error-message" id="username-error"><%= @user.errors.messages[:username].first if @user.errors[:username].any? %></div>
    </div>
    <div class="password-panel input-panel">
      <%= f.password_field :password, placeholder: '密码' %>
      <div class="error-message"><%= @user.errors.messages[:password].first if @user.errors[:password].any? %></div>
    </div>
    <div class="forget-password-panel input-panel">
      <%= link_to "忘记密码?", forget_password_users_url %>
    </div>
    <div class="submit-panel input-panel">
      <%= f.submit "登录", data: {disable_with: '正在登录'} %>
    </div>
  <% end %>
</div>
