<div class="user-op-form-link">
  <%= link_to "去登录", action: :login %>
</div>
<div class="user-op-form-panel center-block register-box">
  <div class="user-op-form-header">
    注册
  </div>
  <%= form_for @user, url: users_path do |f| %>
    <div class="username-panel input-panel">
      <%= f.text_field :username, placeholder: "输入您的手机号", id: 'username-input' %>
      <div class="error-message" id="username-error"><%= @user.errors.messages[:username].first if @user.errors[:username].any? %></div>
    </div>
    <div class="security-code-panel input-panel">
      <%= f.text_field :security_code, placeholder: "验证码", class: 'security-code-input' %>
      <button class="security-code-button">获取验证码</button>
      <div class="error-message"><%= @user.errors.messages[:security_code].first if @user.errors[:security_code].any? %></div>
    </div>
    <div class="password-panel input-panel">
      <%= f.password_field :password, placeholder: '密码' %>
      <div class="error-message"><%= @user.errors.messages[:password].first if @user.errors[:password].any? %></div>
    </div>
    <div class="terms-of-service-panel input-panel">
      <%= f.check_box :terms_of_service %>
      同意
      <%= link_to "服务条款", action: :terms_of_service %>
      <span class="error-message"><%= @user.errors.messages[:terms_of_service].first if @user.errors[:terms_of_service].any? %></span>
    </div>
    <div class="submit-panel input-panel">
      <%= f.submit "注册", data: {disable_with: '正在提交'}%>
    </div>
  <% end %>
</div>
