<% content_for :page_title do %>
  重置密码-草垛网
<% end %>
<div class="user-op-form-panel center-block reset-password-box">
  <div class="user-op-form-header">
    重置密码
  </div>
  <%= form_for @user do |f| %>
    <div class="password-panel input-panel">
      <%= f.password_field :password, placeholder: '新密码' %>
      <div class="error-message"><%= @user.errors.messages[:password].first if @user.errors[:password].any? %></div>
    </div>
    <div class="password-confirm-panel input-panel">
      <%= f.password_field :password_confirmation, placeholder: '再输入一遍新密码' %>
      <div class="error-message"><%= @user.errors.messages[:password_confirmation].first if @user.errors[:password_confirmation].any? %></div>
    </div>
    <div class="submit-panel input-panel">
      <%= f.submit "确认", data: {disable_with: '正在提交修改'} %>
    </div>
  <% end %>
</div>
