<div class="order_box">
  <div class="account_setting_return_action">
    默认手机号
    <a class="update_action update_username_action">
      修改
    </a>
  </div>
  <input id="page-status" type="hidden" value="<%= @page_status %>">
  <div class="user_info">
    用户注册手机号：<span> <%= session[:login_username] %> </span>
    <div class="user_info_box username-box">
      <%= form_for @user , remote:true ,  html: {id: 'update-phone'} do |f| %>
        <ul>
          <li>
            <%= f.text_field :username, placeholder: "请输入新手机号", id: 'username-input', class: 'cd_input', value: '' %>
            <div class="error-message" id="username-error"><%= @user.errors.messages[:username].first if @user.errors[:username].any? %></div>
          </li>
          <li>
            <%= f.text_field :security_code, placeholder: "验证码", class: 'cd_input', style: 'width: 120px; display: inline-block; *display: inline; zoom: 1' %>
            <button class="bt security-code-button" style="display: inline-block; *display: inline; zoom: 1; color: #3FB134; float: none">获取验证码</button>
            <div class="error-message" id="security-code-error"><%= @user.errors.messages[:security_code].first if @user.errors[:security_code].any? %></div>
          </li>
          <li>
            <%= f.submit '保存', data: {disable_with: '正在保存'}, class: 'bt_green', style: "float: left; margin-right: 5px; width: 115px"%>
            <a class="bt cancel_button" style="float: left; margin-left: 5px; width: 83px">取消</a>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="account_setting_return_action">
    修改密码
    <a class="update_action update_password_action">
      修改
    </a>
  </div>
  <div class="user_info_box password-box">
    <%= form_for @user , html: {id: 'update-pwd'} do |f| %>
      <ul>
        <li>
          <%= password_field_tag :'user[old_password]', '', class: 'cd_input', placeholder: "旧密码" %>
          <div class="error-message" id="user_old_password-error"><%= @user.errors.messages[:old_password].first if @user.errors[:old_password].any? %></div>
        </li>
        <li>
          <%= f.password_field :password, placeholder: '新密码', class: 'cd_input' %>
          <div class="error-message" id="user_new_password-error"><%= @user.errors.messages[:password].first if @user.errors[:password].any? %></div>
        </li>
        <li>
          <%= f.password_field :password_confirmation, placeholder: '再输一遍新密码', class: 'cd_input' %>
          <div class="error-message" id="user_new_password2-error"><%= @user.errors.messages[:password_confirmation].first if @user.errors[:password_confirmation].any? %></div>
        </li>
        <li>
          <%= f.submit '保存', data: {disable_with: '正在保存'}, class: 'bt_green', style: "float: left; margin-right: 5px; width: 115px"%>
          <a class="bt cancel_button" style="float: left; margin-left: 5px; width: 83px">取消</a>
        </li>
      </ul>
    <% end %>
  </div>
  <div>
    <% if flash[:notice] %>
      <li>
        <%= flash[:notice] %>
      </li>
    <% end %>
  </div>
</div>
