<div class="container">

  <!--about bg -->

  <div class="about_slogan">

    <!--img-->

    <div class="about_slogan_bg">


      <div class="about_slogan_box">

        <!--about producut name -->

        <div class="about_slogan_title">草垛网</div>

        <!--about prodcut desc -->

        <div class="about_slogan_desc_box">


          <div class="about_slogan_desc_line">


          </div>


          <div class="about_slogan_desc_text">

            专注于智能产品特卖的网站

          </div>

          <div class="about_slogan_desc_line">


          </div>

        </div>


        <!--other desc box-->

        <div class="other_desc_box">

          “中国创翼”2015青年创业创新大赛 - 大学生营销策划赛官方战略合作伙伴

        </div>

        <!--other desc box-->

        <div class="coming_soon">

          即将上线&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;敬请期待

        </div>



      </div>







    </div>





  </div>


  <!--about segment-->

  <div class="about_segment">

    <h3 class="black_title">

      关于草垛网

    </h3>


    <div class="center">


      <ul class="about_segment_ul">

        <li class="about_segment_li">

          <%= image_tag "10dian_normal.png", :class => "about_segment_img_normal" %>
          <%= image_tag "10dian.png", :class => "about_segment_img", style: "display: none" %>

          <h3 class="about_segment_title">

            每日10点

          </h3>


          <p class="about_segment_p">

            天天爆最佳新款

          </p>

          <p class="about_segment_p">

            最潮最好玩

          </p>


        </li>

        <li class="about_segment_li" style="margin: 0px 295px">

          <%= image_tag "product_normal.png", :class => "about_segment_img_normal" %>
          <%= image_tag "product.png", :class => "about_segment_img", style: "display: none" %>

          <h3 class="about_segment_title">

            智能产品

          </h3>


          <p class="about_segment_p">
            体验未来生活

          </p>

          <p class="about_segment_p">
            玩转科技

          </p>



        </li>


        <li class="about_segment_li">

          <%= image_tag "price_normal.png", :class => "about_segment_img_normal" %>
          <%= image_tag "price.png", :class => "about_segment_img", style: "display: none" %>

          <h3 class="about_segment_title">

            最低价格

          </h3>


          <p class="about_segment_p">

            限时限量价格最低

          </p>

          <p class="about_segment_p">

            怎能还不来抢

          </p>


        </li>


      </ul>




    </div>



  </div>


  <!--team desc-->

  <div class="team">

    <div class="team_bg">

      <div class="team_desc_box">


        <h3 class="white_title">

          思无疆团队

        </h3>

        <p class="team_desc center">

          北京思无疆科技有限公司成立于2015年，创始团队来自世界500强企业，具有多年海内外职业管理经验。
          我们致力于拉近创新科技与普通大众之间的距离，以微薄之力促进中国创新产业的发展。
          我们热衷于激发青年学子的创新潜能，鼓励他们勇于创新、敢于创业，为形成“大众创业、万众创新”的良好环境贡献自己的力量！


        </p>

      </div>


    </div>


  </div>


  <!--contact desc-->

  <div class="contact">



    <div class="contact_box">

      <div class="center">


        <h3 class="white_title">

          联系方式

        </h3>


        <ul class="contact_segment_ul">

          <li class="white contact_segment_li">

            <%= image_tag "mail.png" %> <span> <span> 商务合作：bd@caodoo.com </span>


                    </span></li>


          <li class="white contact_segment_li" style="margin-left: 60px">

            <%= image_tag "address.png" %> <span style="position: relative;top: -4px;"> 地址：北京市朝阳区安立路56号九台2000 B座2503室 </span>



          </li>


        </ul>


        <ul class="contact_segment_ul">


          <li class="white contact_segment_li">

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;招聘邮箱：hr@caodoo.com

          </li>


          <li class="white contact_segment_li" style="text-align: left;width: 348px;margin-left: 60px">

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话：010-64900459

          </li>





        </ul>


      </div>


    </div>


  </div>


</div>