<% content_for :page_title do %>
  提交订单-草垛网
<% end %>
<%= form_for [@user, @order] do |f| %>
  <%= f.hidden_field :product_id %>
  <%= f.hidden_field :user_id %>
  <%= hidden_field_tag :new_order_refresh_url, new_user_order_path(@user, @order), class: 'new_order_refresh_url' %>
  <%= hidden_field_tag :new_address_url, new_user_address_path(@user), class: 'new_address_url' %>
  <div class="submission-detail-container">
    <div class="submission-detail">
      <div class="submission-deadline">库存有限，请尽快支付订单</div>
      <div class="submission-step">
        <%= image_tag "payment-step-one.png" %>
      </div>
      <div class="submission-information clearfix">
        <div class="product-information">
          <div class="product-display">
            <div class="grey">购买产品：</div>
            <div class="product-display-bottom">
              <div class="product-display-image">
                <%= image_tag @product.product_view.product_carousel_images[0].url, class: 'order-product-thumbnail' %>
              </div>
              <div class="product-display-text">
                <div class="product-display-name black"> <%= @product.name %></div>
                <div class="product-display-flex-y">
                  <% if @contest_team %>
                    <div class="product-information-team-name">来自<%= @contest_team.name %>的推荐</div>
                  <% end %>
                </div>
                <div class="product-display-price">
                  <div class="product-display-price-tag">产品单价：</div>
                  <div class="product-display-price-number">￥<%= "#{'%.2f' % @product.actual_price}" %></div>
                </div>
                <% if @product.product_version.present? %>
                  <div class="product-display-product-version">
                    <div class="product-display-product-version-tag">产品型号：</div>
                    <div class="product-display-product-version-content"><%= @product.product_version %></div>
                  </div>
                <% end %>
                <div class="product-display-quantity clearfix">
                  <%= hidden_field_tag('quantity-limit-field', Settings.sale.max_quantity) %>
                  <%= hidden_field_tag('order_random_id', @order_random_id) %>
                  <div class="product-display-quantity-text">购买数量：</div>
                  <div class="product-display-quantity-controller">
                    <a class="quantity-controller-decrease">
                      <span>-</span>
                    </a>
                  </div>
                  <div class="product-display-quantity-number">
                    <%= f.text_field :quantity, class: 'quantity-number quantity-input' %>
                  </div>
                  <div class="product-display-quantity-controller">
                    <a class="quantity-controller-increase">
                      <span>+</span>
                    </a>
                  </div>
                  <div class="error-message"><%= @order.errors.messages[:quantity].first if @order.errors[:quantity].any? %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="order-information">
          <%= hidden_field_tag('unit-price-field', @product.actual_price) %>
          <div class="order-information-top">
            <div class="order-information-text">产品金额：￥<span class="total-price-display"></span></div>
            <div class="order-information-text">运费：0</div>
          </div>
          <div class="order-information-bottom">
            <div class="order-information-text">总计金额：￥<span class="total-price-display"></span></div>
          </div>
          <div class="order-information-bottom"></div>
        </div>
      </div>
      <div class="submission-address">
        <div class="address-container">
          <a href="#" class="address-creation new_address_action">+添加收货地址</a>

          <div class="address-hint">收货地址：</div>
          <%= f.collection_select :address_id, @addresses || @user.addresses.where(deleted: false).order(created_at: :desc),
                                  :id, :to_text, {prompt: '请选择收货地址'}, {class: 'address-selection'} %>
          <div class="error-message" id="username-error"><%= @order.errors.messages[:address_id].first if @order.errors[:address_id].any? %></div>
        </div>
      </div>
      <%= f.submit '提交订单', data: {disable_with: '正在提交订单'}, class: 'order-submission' %>
      <div class="error-message" id="order-random-id-error">
        <% if @order.errors[:order_random_id].any? %> <%= @order.errors.messages[:order_random_id].first %>
          可在<%= link_to "订单管理", user_orders_path(session[:login_user_id]), {class: 'green'} %>中查看
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div id="edit_address_box" class="popup">
</div>
