<div class="payment-detail-container">
  <div class="payment-detail">
    <div class="payment-deadline">
      支付结束时间：
      <span class=".payment-remain-time"><%= [0, (@order.created_at + Settings.payment.expired.to_i.minutes - Time.now).to_i].max %></span>
    </div>
    <div class="payment-progress">
      <%= image_tag "payment-step-two.png" %>
    </div>
    <div class="payment-hint">订单提交成功，您的订单号为<span><%= @order.order_number %></span>，请尽快支付！</div>
    <div class="payment-choise">
      <div class="radio-icon">
        <input type="radio" class="order-radio alipay-radio" name="order-radio">
      </div>
      <div class="payment-icon">
        <%= image_tag "alipay.png" %>
      </div>
      <div class="radio-icon">
        <input type="radio" class="order-radio wechat-radio" name="order-radio">
      </div>
      <div class="payment-icon">
        <%= image_tag "wechat.png" %>
      </div>
    </div>
    <div class="flex-y"></div>
    <div>
      <button type="button" class="payment-button">去支付</button>
    </div>
    <div class="order-detail">
      <div class="order-picture">
        <%= image_tag @order.product_image_url, class: 'order_product_thumbnail' %>
      </div>
      <div class="order-description" style="width: 268px">
        <div class="order-description-text">产品</div>
        <div class="order-summary">
          <div class="product-in-order order-description-text"><%= @order.product_name %></div>
          <div class="order-description-text">
            <div class="inline-layout">￥<%= @order.unit_price %>（单价）</div>
            <div class="flex"></div>
            <div class="inline-layout">数量：X<%= @order.quantity %></div>
          </div>
        </div>
      </div>
      <div class="order-description" style="width: 220px">
        <div class="order-description-text">订单金额</div>
        <div class="order-summary">
          <div class="total-price order-description-text">￥<%= @order.total_price %></div>
        </div>
      </div>
      <div class="order-description" style="width: 310px">
        <div class="order-description-text">收货地址</div>
        <div class="order-summary" style="border: none">
          <div class="order-description-text">
            <%= "#{@order.province_name}#{@order.city_name}#{@order.district_name}#{@order.detailed_address}" %>
          </div>
          <div class="order-description-text">
            <div class="inline-layout">
              <%= @order.receiver %>
            </div>
            <div class="flex"></div>
            <div class="inline-layout">
              <%= @order.phone %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_for @order, url: '/alipay/pay', method: :post, html: {class: 'alipay_submission_form', target: '_blank'} do |f| %>
  <%= hidden_field_tag(:order_id, @order.id) %>
<% end %>
<div id="alipay_confirm_box" class="popup">
  <div class="confirm_popup_box">
    <div class="confirm_title">
      支付成功？
    </div>
    <div class="confirm_action">
      <a class="alipay_fail_button">
        支付失败
      </a>
      &nbsp;&nbsp;&nbsp;
      <%= link_to "支付成功", user_order_path(@user, @order), class: 'alipay_succeed_button' %>
    </div>
  </div>
</div>
<div id="payment_failure_box" class="popup">
  <div class="confirm_popup_box">
    <div class="confirm_title">
      请选择另一种支付方式或联系客服
    </div>
    <div class="confirm_action">
      <a class="close_button">
        知道了
      </a>
    </div>
  </div>
</div>
