<% content_for :page_title do %>
  订单详情-草垛网
<% end %>
<div class="order_box">
  <div class="return_action">
    <%= link_to "返回订单列表", user_orders_path(@user), class: 'return_action_link' %>
    订单详情
  </div>
  <div>
    <div class="order_process">
      <% if @order.status == 0 %>
        <%= image_tag "process_img1.png" %>
      <% elsif @order.status == 1 %>
        <%= image_tag "process_img2.png" %>
      <% elsif @order.status == 2 %>
        <%= image_tag "process_img3.png" %>
      <% elsif @order.status == 3 %>
        <%= image_tag "process_img4.png" %>
      <% elsif @order.status == 4 %>
        <%= image_tag "process_img5.png" %>
      <% else %>
        <div class="order_status_text_container">
          <div class="order_status_text_icon_area">
            <%= image_tag "s.png", class: 'warning-icon-small' %>
          </div>
          <div class="order_status_text_warning">
            <%= order_status_text(@order.status) %>
          </div>
        </div>
      <% end %>
    </div>
    <% if @order.status == Order::DELIVERED || (@order.express.present? && @order.tracking_number.present?) %>
      <div class="order-express-information">
        <div class="order-express-information-summary-container">
          <div class="order-express-information-summary">
            <span>物流追踪：</span>
            <% if @order.express.present? && @order.tracking_number %>
              <span><%= "#{@order.express.name}-单号-#{@order.tracking_number}" %></span>
            <% else %>
              <span>正在出库</span>
            <% end %>
          </div>
        </div>
        <% if @order.express.present? && @order.tracking_number %>
          <div class="order-express-information-detail-show">
            <%= link_to "点击查看物流", user_order_express_info_path(@user, @order), class: "order-express-info-link" %>
          </div>
          <div class="order-express-information-detail">
            <div class="order-express-information-msg">正在获取物流信息...</div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="order_info">
      <div class="order_product">
        <%= image_tag @order.product_image_url, class: 'order_product_thumbnail' %>
      </div>
      <div class="order_product_info">
        <ul>
          <li class="order_product_name">
            <%= @order.product_name %>
          </li>
          <li class="order_product_name">
            <% if @order.contest_team.present? %>
              来自<%= @order.contest_team.name %>的推荐
            <% else %>
              &nbsp
            <% end %>
          </li>
          <li>
            产品单价：<span>¥<%= @order.unit_price %></span>
          </li>
          <li>
            购买数量：<span><%= @order.quantity %>件</span>
          </li>
          <li>
            补充说明：<span><%= @order.remark %></span>
          </li>
        </ul>
      </div>
      <div class="order_product_price">
        总金额：<span class="order_hight">¥<%= @order.total_price %></span>
      </div>
    </div>
    <div class="info_block">
      <div class="order_info_block">
        订单信息
        <ul style="margin-top: 10px">
          <li>
            订单编号：<span class="order_span"><%= @order.order_number %></span>
          </li>
          <li>
            下单时间：<span class="order_span"><%= @order.created_at.in_time_zone.strftime('%Y-%m-%d') %></span>
          </li>
          <% if @order.payment_record.payment_type.present? %>
            <li>
              支付方式：<span class="order_span"><%= payment_type_text(@order.payment_record.payment_type) %></span>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="order_info_block2">
        收货地址
        <ul>
          <li>
            <%= @order.receiver %>  <%= @order.phone %>
          </li>
          <li>
            <p>
              <%= "#{@order.province_name}#{@order.city_name}#{@order.district_name}#{@order.detailed_address}" %>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <%= form_for [@user, @order], html: {class: "receive_order_#{@order.id}_form"} do |f| %>
        <%= f.hidden_field :status, value: Order::COMPLETE %>
      <% end %>
      <%= form_for [@user, @order], html: {class: "cancel_order_#{@order.id}_form"} do |f| %>
        <%= f.hidden_field :status, value: Order::CANCELLED %>
      <% end %>
      <% if [Order::DELIVERED].include?(@order.status) && @order.express.present? %>
        <a class="bt_green receive_order_action" data-order-id="<%= @order.id %>">确认收货</a>
      <% end %>
      <% if [Order::TO_PAY].include?(@order.status)  %>
        <%= link_to "立即支付", user_order_payment_path(@user, @order), class: 'bt_green' %>
      <% end %>
      <% if [Order::TO_PAY, Order::PAID].include?(@order.status) %>
        <a class="bt cancel_order_action" data-order-id="<%= @order.id %>">取消订单</a>
      <% end %>
      <% if [Order::COMPLETE].include?(@order.status)  %>
        <a class="bt return_application_action">申请退货</a>
      <% end %>
    </div>
  </div>
</div>
<div id="cancel_order_box" class="popup">
  <div class="confirm_popup_box">
    <div class="confirm_title">
      确定取消订单？
    </div>
    <div class="confirm_action">
      <a class="cancel_cancel_order_button">
        关闭窗口
      </a>
      &nbsp;&nbsp;&nbsp;
      <button type="button" class="confirm_cancel_order_button">
        取消订单
      </button>
    </div>
  </div>
</div>
<div id="return_application_box" class="popup">
  <div class="resales_popup_box">
    <div class="customer_service_info">
      <ul>
        <% if @order.contest_team.present? && @order.contest_team.identifier != Settings.contest.default_team_identifier%>
          <li>请联系大赛团队<span class="contest-team-name"><%= @order.contest_team.name %></span>协助您退货</li>
        <% else %>
          <li>请联系客服</li>
        <% end %>
        <li>
          <% if @order.contest_team.present? && @order.contest_team.identifier != Settings.contest.default_team_identifier%>
            <p> 电话：<strong style="color: #333333"><%= @order.contest_team.phone %></strong></p>
          <% else %>
            <p> 电话：<strong style="color: #333333"><%= Settings.contact.telephone %></strong></p>
            <p> 微信：<strong style="color: #333333"><%= Settings.contact.wechat %></strong></p>
          <% end %>
        </li>
        <li style="text-align: right">
          <a class="close_return_application_box_button">知道了</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="receive_order_box" class="popup">
  <div class="confirm_popup_box">
    <div class="confirm_title">
      确认收货?
    </div>
    <div class="confirm_action">
      <a class="cancel_receive_order_button">
        关闭窗口
      </a>
      &nbsp;&nbsp;&nbsp;
      <button type="button" class="confirm_receive_order_button">
        确认收货
      </button>
    </div>
  </div>
</div>
