<div>
  <ul>
    <% if @contest_team.errors.any? %>
      <% @contest_team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<%= form_for @contest_team do |f| %>
  <div>
    <%= text_field_tag :old_password, '', placeholder: '输入原密码' %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: '设置新密码' %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, placeholder: '再输一次新密码' %>
  </div>
  <div>
    <%= f.submit '提交修改', :disable_with => '正在提交修改...'%>
  </div>
<% end %>
