<!DOCTYPE html>
<html>
  <head>
    <title>大学生营销策划赛</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= render 'js/google_analytics' %>
  </head>
  <body>
    <div class="team-client-login">
      <div>
        <%= image_tag "game-detail.png" %>
      </div>
      <div class="login-bottom-dialog">
        <div class="login-team-entrance">参赛团队登录入口</div>
        <%= form_for @contest_team, url: {action: :do_login}, method: :post do |f| %>
          <div>
            <%= f.text_field :phone, placeholder: '团队联系方式', class: 'login-team-input' %>
            <div class="error-message-container team_login_error_box">
              <div class="error-message" id="contest_team_phone_error"><%= @contest_team.errors.messages[:phone].first if @contest_team.errors[:phone].any? %></div>
            </div>
          </div>
          <div>
            <%= f.password_field :password, placeholder: '密码', class: 'login-team-input' %>
            <div class="error-message-container team_login_error_box">
              <div class="error-message" id="contest_team_password_error"><%= @contest_team.errors.messages[:password].first if @contest_team.errors[:password].any? %></div>
            </div>
          </div>
          <div>
            <input type="submit" class="login-submit" value="登录" />
          </div>
        <% end %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= render 'js/baidu_analytics' %>
  </body>
</html>
