<div class="team-notification">
  <div class="team-notification-title">团队须知</div>
  <div class="team-notification-detail">
    <ol>
      <li>参加大学生营销策划赛的团队将通过线上分享团队专属的草垛
        网页面链接以及线下推广的方式进行商品的销售。参赛团队应指
        引消费者通过团队专属链接进行购买，保证销售数据的及时、准
        确记录。
      </li>
      <li>比赛期间，草垛网全程记录团队的销售数据，每支参赛团队可以
        在网站团队业绩界面查看团队的销售量、销售金额、退货率、网
        页浏览量等数据。数据定义如下：
        <ol type="a">
          <li>销售量：团队所卖出商品的数量；以客户付款为准，被退商
            品将自动从销售量中扣除；
          </li>
          <li>销售金额：团队所卖出的商品的总金额，以草垛网记录为准；</li>
          <li>退货率：退货率=实际退货数/(实际销量+实际退货数)；</li>
          <li>网页浏览量：团队可以通过分享商品和大赛网页进行营销。
            网页浏览量记录团队所有分享的网页的访问次数。
          </li>
        </ol>
      </li>
      <li>初赛期间，产品累计销量超过 <%= Settings.contest.level_exp[1] %> 件的参赛团队，可选择增加销
        售 A 类智能电子产品；产品累计销量超过 <%= Settings.contest.level_exp[2] %> 件的参赛团队，可
        选择增加销售 B 类智能电子产品；产品累计销量超过 <%= Settings.contest.level_exp[3] %> 件的参
        赛团队，可选择增加销售 C 类智能电子产品。A、B、C 类产品销
        售价格、销售奖励依次增高。销售更高类别的产品有助于更高效
        积累营销业绩。
      </li>
      <li>参赛团队在大赛期间要为各自团队所卖出的商品负责退货，如果
        购买商品的消费者希望退货，大赛团队应尽力协助处理。退货后
        团队的销售数据会减去退货的商品。因此，团队应在营销时要以
        诚实信用为原则，向消费者正确传达商品信息。在处理退换货问
        题中应注意：
        <ol>
          <li>只支持退货</li>
          <li>团队只能处理签收日次日起七日内的退货；</li>
          <li>退货运费由买家负责；</li>
        </ol>
      </li>
      <li>参赛团队于 2015 年 7 月 31 日前将营销方案提交到大赛组委会指
        定邮箱（<a href=mailto:qccyyxs2015@caodoo.com>qccyyxs2015@caodoo.com</a>），并抄送高校组委会。
      </li>
      <li>初赛于 2015 年 8 月 30 日 23 点 59 分结束，初赛结束后草垛网后
        台自动停止记录各团队销售数据。
      </li>
      <li>参赛团队可通过微信、微博等线上传播平台积极分享自己团队页
        面，并结合线下推广活动对团队进行自我宣传。统一宣传模板下
        载地址：<a href="http://pan.baidu.com/s/1kT9u6TD">http://pan.baidu.com/s/1kT9u6TD</a></li>
      <li>参赛团队在比赛期间自行拍摄比赛图片、视频，并上传至微视“中
        国创翼”大学生营销策划赛专区。
      </li>
      <li>“中国创翼”大学生营销策划赛官网：<a href="http://www.qccy.org">http://www.qccy.org</a><p>大赛指定合作伙伴草垛网：<a href="http://www.caodoo.com">http://www.caodoo.com</a></p></li>
      <li>
        <p>联系方式:</p>

        <p>大赛组委会：（010）84084903</p>

        <p>草垛网：<span><%= Settings.contact.telephone %></span>，微信服务号：<span><%= Settings.contact.wechat %></span></p>
      </li>
      <li>大赛团队后台使用指导：
        <p>请通过链接下载：<a href="http://pan.baidu.com/s/1pJ0z1ur">http://pan.baidu.com/s/1pJ0z1ur</a></p>
      </li>
    </ol>
  </div>
</div>