<% content_for :mobile_page_title do %>
  注册-草垛网
<% end %>
<% content_for :page_header_title do %>
  注册
<% end %>
<div class="user-op-form-link">
  <%= link_to "去登录 →", action: :login %>
</div>
<div class="user-op-form-panel center-block register-box">
  <%= form_for @user, url: users_path, html: {id: 'new-user'} do |f| %>
    <div class="username-panel input-panel">
      <%= f.text_field :username, placeholder: "输入您的手机号", id: 'username-input' %>
      <div class="error-message" id="username-error"><%= @user.errors.messages[:username].first if @user.errors[:username].any? %></div>
    </div>
    <div class="security-code-panel input-panel">
      <div class="security-code-box">
        <%= f.text_field :security_code, placeholder: "短信验证码", class: 'security-code-input' %>
        <button class="security-code-button">获取验证码</button>
      </div>
      <div class="error-message" id="security-code-error"><%= @user.errors.messages[:security_code].first if @user.errors[:security_code].any? %></div>
    </div>
    <div class="password-panel input-panel">
      <%= f.password_field :password, placeholder: '请输入6-20位登陆密码' %>
      <div class="error-message" id="userpwd-error"><%= @user.errors.messages[:password].first if @user.errors[:password].any? %></div>
    </div>
    <div class="terms-of-service-panel input-panel">
      <%= f.check_box :terms_of_service %>
      同意
      <%= link_to "服务条款", action: :terms_of_service %>
      <span class="error-message" id="terms_of_service_error"><%= @user.errors.messages[:terms_of_service].first if @user.errors[:terms_of_service].any? %></span>
    </div>
    <div class="submit-panel input-panel">
      <%= f.submit "注册", data: {disable_with: '正在提交'} %>
    </div>
  <% end %>
</div>
