<div class="order_box">
  <div class="status_box">
    <ul>
      <li>
        <a onclick="show_new_address_box()" class="currnet_tab">
          添加收货地址
        </a>
        <%= hidden_field_tag :new_address_url, user_addresses_path(@user), class: 'new_address_url' %>
      </li>
    </ul>
    <div class="status_box_line">
    </div>
  </div>
  <div class="delivery_user">
    <ul>
      <% @addresses.each do |address| %>
        <li class="user_address_li">
          <%= form_for([@user, address], html: {class: "delete_address_#{address.id}_form"}) do |f| %>
            <%= f.hidden_field :deleted, value: true %>
          <% end %>
          <%= form_for([@user, address], html: {class: "update_default_address_#{address.id}_form"}) do |f| %>
            <%= f.hidden_field :default, value: true %>
          <% end %>
          <input type="hidden" class="update_address_url" value="<%=user_address_path(@user, address)%>">
          <ul>
            <li>
              <span class="address_span">
                收件人：
              </span>
              <span>
                <%= address.receiver %>
              </span>
              <% if address.default %>
                <span class="default_address" style="float: right;margin-right: 20px;color: #3FB134">
                  默认地址
                </span>
              <% end %>
            </li>
            <li>
              <span class="address_span">
                所在地区：
              </span>
              <span>
                <%= address.try(:province).try(:name) %><%= address.try(:city).try(:name) %><%= address.try(:district).try(:name) %>
              </span>
            </li>
            <li>
              <span class="address_span">
                地址：
              </span>
              <span>
                <%= address.detailed_address %>
              </span>
            </li>
            <li>
              <span class="user_before address_span">
                手机：
              </span>
              <span class="user_before">
                <%= address.phone %>
              </span>
              <a class="user_after delete_address_action" data-address-id="<%=address.id%>">删除</a>
              <a class="user_after modify_address_action" data-address-id="<%=address.id%>">修改</a>
              <% if !address.default %>
                <a class="set_address_default update_default_address_action" data-address-id="<%=address.id%>">设为默认地址</a>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<!--popup 录入新地址-->
<div id="new_address_box" class="popup">
  <div class="popup_box">
    <h1 style="text-align: center;font-size: 21px;margin-top: 20px;color: #3BAF47">
      添加收货地址
    </h1>
    <form class="address_center">
      <ul>
        <li>
          <input class="cd_input" type="text" placeholder="收件人姓名">
          <input class="cd_input" type="text" placeholder="联系方式">
        </li>
        <li>
          <select class="cd_select">
            <option>请选择省份</option>
            <option>河北</option>
            <option>山西</option>
            <option>湖北</option>
          </select>
          <select class="cd_select">
            <option>请选择省份</option>
            <option>北京</option>
            <option>上海</option>
            <option>重庆</option>
          </select>
          <select class="cd_select">
            <option>请选择地区</option>
            <option>大望路</option>
            <option>国贸</option>
            <option>望京西</option>
          </select>
        </li>
        <li>
          <input type="text" class="cd_input" placeholder="收货地址" style="width: 465px">
        </li>
        <li>
          <input id="set_default" type="checkbox" >
          <label class="green_text" for="set_default">设置为默认地址</label>
        </li>
        <li>
          <a onclick="hide_new_address_box()" class="bt" style="float: left;cursor: pointer;width: 114px;margin: 10px 0;margin-right: 20px">取消</a>
          <a onclick="save_new_address()" class="bt_green" style="float: left;cursor: pointer;width: 114px;margin: 10px 0">保存</a>
        </li>
      </ul>
    </form>
  </div>
</div>
<!--popup 修改新地址-->
<div id="update_address_box" class="popup">
  <div class="popup_box">
    <h1 style="text-align: center;font-size: 21px;margin-top: 20px;color: #3BAF47">
      修改收货地址
    </h1>
    <form class="address_center">
      <ul>
        <li>
          <input class="cd_input" type="text" value="张山">
          <input class="cd_input" type="text" value="1890191222">
        </li>
        <li>
          <select class="cd_select">
            <option>请选择省份</option>
            <option selected>河北</option>
            <option>山西</option>
            <option>湖北</option>
          </select>
          <select class="cd_select">
            <option>请选择省份</option>
            <option selected>北京</option>
            <option>上海</option>
            <option>重庆</option>
          </select>
          <select class="cd_select">
            <option>请选择地区</option>
            <option selected>大望路</option>
            <option>国贸</option>
            <option>望京西</option>
          </select>
        </li>
        <li>
          <input type="text" class="cd_input" value="北京市海淀区xxxx路" style="width: 465px">
        </li>
        <li>
          <input id="set_default" type="checkbox" >
          <label class="green_text" for="set_default">设置为默认地址</label>
        </li>
        <li>
          <a onclick="hide_update_address_box()" class="bt" style="float: left;cursor: pointer;width: 114px;margin: 10px 0;margin-right: 20px">取消</a>
          <a onclick="save_update_address()" class="bt_green" style="float: left;cursor: pointer;width: 114px;margin: 10px 0">保存</a>
        </li>
      </ul>
    </form>
  </div>
</div>
<!--popup   alert  删除地址-->
<div id="delete_address_box" class="popup">
  <div class="confirm_popup_box">
    <div class="confirm_title">
      <%= image_tag "warning.png" %>
      <span style="position: relative;top: -20px">
        确定删除此收货地址吗？
      </span>
    </div>
    <div class="confirm_action" >
      <a class="cancel_delete_address_button">
        取消
      </a>
      &nbsp;&nbsp;&nbsp;
      <a class="confirm_delete_address_button">
        确认删除
      </a>
    </div>
  </div>
</div>
<!--popup   alert  更新默认地址-->
<div id="update_default_address_box" class="popup">
  <div class="confirm_popup_box">
    <div class="confirm_title">
      <%= image_tag "warning.png" %>
      <span style="position: relative;top: -20px">
        设置当前地址为默认地址吗？
      </span>
    </div>
    <div class="confirm_action">
      <a class="cancel_update_default_address_button">
        取消
      </a>
      &nbsp;&nbsp;&nbsp;
      <a class="confirm_update_default_address_button">
        确认
      </a>
    </div>
  </div>
</div>
