<% content_for :page_header do %>
  <a onclick="goBack()" class="back">
    <%= image_tag "mobile_back.png" %>
  </a>
  <div class="mobile-page-title">
    关于我们
  </div>
<% end %>
  <div class="container">
    <!--banner-->
    <div class="banner">
      <%= image_tag "mobile_about_slogan_bg.png", :class => "about__banner_img" %>
      <div class="about_slogan_box">
        <div class="about_slogan_center">
          <!-- title-->
          <div class="about_slogan_title">
            草垛网
          </div>
          <!-- desc-->
          <div class="about_slogan_desc_box">
            <div class="about_slogan_desc_line">
            </div>
            <div class="about_slogan_desc_text">
              专注于智能产品特卖的网站
            </div>
            <div class="about_slogan_desc_line">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--about ts desc-->
    <div class="about_desc">
      <div class="about_desc_box">
        <!--title-->
        <div class="about_desc_title">
          关于草垛
        </div>
        <div class="about_desc_content">
          <ul>
            <li>
              <%= image_tag "mobile_10dian_icon.png", :class => "left" %>
              <div class="left about_ts_box">
                <div class="about_ts_name">
                  每日10点
                </div>
                <div class="about_desc_content">
                  天天爆最佳新款最潮最好玩
                </div>
              </div>
            </li>
            <li>
              <%= image_tag "mobile_product_icon.png", :class => "left" %>
              <div class="left about_ts_box">
                <div class="about_ts_name">
                  智能产品
                </div>
                <div class="about_desc_content">
                  体验未来可以玩转生活
                </div>
              </div>
            </li>
            <li>
              <%= image_tag "mobile_price_icon.png", :class => "left" %>
              <div class="left about_ts_box">
                <div class="about_ts_name">
                  最低价格
                </div>
                <div class="about_desc_content">
                  限时限量价格最低怎能还不来抢
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--about team desc-->
    <div class="about_team">
      <div class="about_team_center">
        <%= image_tag "mobile_about_team_bg.png", :class => "about_team_bg" %>
        <div class="about_team_box">
          <!--title-->
          <div class="about_desc_title white">
            思无疆团队
          </div>
          <p class="about_team_p">
            北京思无疆科技有限公司成立于2015年，创始团队来自世界500强企业，具有多年海内外
            <br/>职业管理经验。
            <br/> 我们致力于拉近创新科技与普通大众之间的距离，以微薄之力促进中国创新产业的发
            <br/>展。
            <br/> 我们热衷于激发青年学子的创新潜能，鼓励他们勇于创新、敢于创业，为形成“大众创业、万众创新”的良好环境贡献自己的力量！
          </p>
        </div>
      </div>
    </div>
    <!--about contact desc-->
    <div class="about_contact">
      <%= image_tag "mobile_about_contact_bg.png", :class => "about_contact_bg" %>
      <div class="about_contact_box">
        <div class="about_desc_title white">
          联系方式
        </div>
        <ul class="about_contact_content">
          <li>
            <span class="about_contact_name">
            <%= image_tag "mobile_mail_icon.png", :class => "about_mail_icon" %>商务合作：</span> <span class="about_contact_value">bd@caodoo.com</span>
          </li>
          <li>
            <span class="about_contact_name">招聘邮箱：</span> <span class="about_contact_value">hr@caodoo.com</span>
          </li>
          <li style="margin-top: 20px">
            <span class="about_contact_name">
            <%= image_tag "mobile_address_icon.png", :class => "about_address_icon" %>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</span>
            <p class="about_contact_value" style="width: 160px;;">北京市朝阳区安立路56号九台2000 B座2503室</p>
          </li>
          <li>
            <span class="about_contact_name">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：</span> <span class="about_contact_value">010-64900459</span>
          </li>
        </ul>
      </div>
    </div>
  </div>