<!DOCTYPE html>
<html>
  <head>
    <title>Caodoo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application_mobile', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body style=" <%= yield :body_style %>">
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= javascript_include_tag 'application_mobile', 'data-turbolinks-track' => true %>
  </body>
</html>
