<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield :mobile_page_title).blank? ? "草垛网-专注智能硬件特卖" : (yield :mobile_page_title) %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <%= stylesheet_link_tag 'application_mobile', media: 'all' %>
    <%= csrf_meta_tags %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65531436-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body style=" <%= yield :body_style %>">
    <div class="header">
      <%= yield :page_header %>
      <a class="othmenu">
        <%= image_tag "mobile_menu.png" %>
      </a>
    </div>
    <div class="menu_list" style="display: none">
      <ul>
        <% if session[:login_username] %>
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <a class="dropdown_action">
              <span>我的</span>
              <%= image_tag "mobile_dropdown.png", :class => "dropdown" %>
            </a>
          </li>
          <li style="padding: 0">
            <ul class="children_list" style="display: none">
              <li>
                <%= link_to "订单管理", user_orders_path(session[:login_user_id]) %>
              </li>
              <li>
                <%= link_to "收货地址", user_addresses_path(session[:login_user_id]) %>
              </li>
              <li>
                <%= link_to "客户服务", custom_service_path %>
              </li>
              <li>
                <%= link_to "个人设置", user_settings_user_path(session[:login_user_id]) %>
              </li>
              <li>
                <%= link_to "退出账户", logout_users_path %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to "关于我们", about_us_path %>
          </li>
        <% else %>
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <%= link_to "登录", controller: :users, action: :login %>
          </li>
          <li>
            <%= link_to "注册", controller: :users, action: :new %>
          </li>
          <li>
            <%= link_to "关于我们", about_us_path %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <ul class="footer_links">
    </ul>
    <ul class="footer_links">
      <li>
        <a>&nbsp;&nbsp;©2015 CAODOO</a>
      </li>
      <li>
        京ICP备 15024750号
      </li>
      <li>
        <a id="open_privicy_box">
          隐私条款
        </a>
      </li>
    </ul>
    <div id="terms_of_privicy_container">
      <div class="terms_of_privicy">
        <div class="terms_of_privicy_detail">
          <h3>隐私条款</h3>
          <div class="terms_of_privicy_text">
            <p>草垛网承诺尊重您的隐私和您的个人信息安全。草垛网并且承诺尽可能地为您提供最佳的服务。比如，草垛网会利用通过网站运作而收集到的这些信息，来制定您的个性化沟通方式和购物经历、也可以更好地对您的客户服务调查做出反应、对您的订单和帐户信息及客户服务需求与您进行沟通、就草垛网网站中的商品和活动与您进行沟通以及为了其他推广宣传目的、优化管理、促销、调查等其他本网站的特别项目使用这些信息。草垛网也可以用这样的信息来阻止可能的被禁止项目和非法活动，用以加强使用规则和条款的实施，并用以解决争议和保护其合法的私有财产权益及解决涉及草垛网 的交易活动而产生的问题。</p>
            <p>您已知悉在使用草垛网网站提供的服务时，涉及您真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，草垛网网站将予以严格保密，除非得到您的授权或法律另有规定，草垛网网站不会向外界披露您隐私信息。您同意，我们拥有通过邮件、短信、电话等方式，向您提供在使用草垛网网站各项服务过程中所涉及信息(包括但不限于由草垛网提供服务的商业性信息)的权利。同时您可以通过草垛网网站公布的规则，选择取消或拒绝部分或全部信息的提供。</p>
            <p>因此您在此明确同意草垛网来收集、保存、使用和透露您的个人信息，正如本条款中所记述的。
              草垛网也不可以向任何其他人出售或出租您的个人信息。但如果是为经营目的需要的，草垛网可以将信息交付给一些服务提供商只在为草垛网的经营来使用。例如，他们负责处理草垛网的装运业务、数据管理业务、电子邮件发送业务、市场调查业务、信息分析业务和促销管理业务。买卖草垛网网站上的商品，查阅数据资料、销售信函、市场调查、分析报告和促销手段。草垛网提供给其服务提供商的个人信息的前提是他们需要这些信息来完成其服务并同时承诺尽可能保护您的个人信息。</p>
            <p>在极少数情况下，草垛网可以透露特定的信息，例如，政府机构请求、法院调查令等法律规定的情况，以及为执行本网站的政策或保护他人的权益、财产和安全。草垛网也会和那些协助进行诈骗防范和调查的公司共享信息。在法律范围内响应法院指令，以便加强本网站的管理政策或保护他人的权利、财产或保险。草垛网同时与公司分享信息协助保护或调查。草垛网不会提供信息给那些推销和商业目的公司或代理机构行。</p>
            <p>草垛网会将非常认真地保护您的个人信息。然而，尽管草垛网已经尽力了，但是仍有第三方通过非法手段在中途截取发送的信息的风险。这在所有互联网使用中都是真实存在的。以至于草垛网无法完全保证您传送的任何信息的安全。发送任何信息的风险都您都须承担。特别是，草垛网将采取所有合理的预防措施来确保您的订购和付款详细信息的安全，除非草垛网存在疏忽，否则草垛网将不承担因您提供的信息被非法侵入而造成您和第三方的相应损失。</p>
            <p>草垛网决不会发送电子邮件来向您索要登录帐户和密码。如果您接收了这样的电子邮件，绝对不要回复。为了帮助我们与这些诈骗行动做斗争，请将该原始的电子邮件转发到service@caodoo.com以便我们对它进行调查。</p>
          </div>
        </div>
        <button type="button" class="terms_of_privicy_close_button">关闭</button>
      </div>
    </div>
    <%= javascript_include_tag 'application_mobile' %>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?03fb7d78508848332aefc3dedb4fdc97";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
