<% content_for :page_header do %>
  <a onclick="goBack()" class="back">
    <%= image_tag "back.png" %>
  </a>
  <div class="mobile-page-title">
    <%= yield :page_header_title %>
  </div>
<% end %>
<% content_for :content do %>
  <div class="user-op-container">
    <div class="user-op-form-container">
      <div class="center-block user-op-form" style="<%= yield :user_op_form_style %>">
        <%= yield %>
      </div>
    </div>
    <%= image_tag("user-op-background-mobile.png", class: "center-block user-background-img") %>
  </div>
<% end %>
<%= render template: "layouts/application" %>
