<% if @region.errors.any? %>
  <div class="container form-container">
    <ul>
      <% @region.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for [:admin, @region] do |f| %>
  <div class="container form-container">
    <div class="form-title">基本信息</div>
    <div class="form-group">
      <%= f.label :name, '名称' %>
      <%= f.text_field :name, class: 'form-control', disabled: true %>
    </div>
    <div class="form-group">
      <%= f.label :code, '地区代码' %>
      <%= f.text_field :code, class: 'form-control', disabled: true %>
    </div>
    <div class="form-group">
      <%= f.check_box :disabled%>
      <%= f.label :code, '无效' %>
    </div>
    <%= link_to "返回", admin_regions_path, class: 'btn btn-default' %>
    <%= f.submit '提交', :disable_with => '提交ing...', class: 'btn btn-primary' %>
  </div>
<% end %>
