<% content_for :body_style do %>
  background-color: #000 !important;
<% end %>
<% content_for :page_title do %>
  草垛网-专注智能硬件特卖
<% end %>

<div class="container-fluid">
  <div class="center-block products_banner_container">
    <%= image_tag("banner.jpg", class: "center-block app-banner") %>
    <%= link_to contest_products_path do%>
      <div class="products_banner_contest_entry">进入大赛</div>
    <% end %>
    <%= link_to qccy_login_path do%>
      <div class="products_banner_contest_team_entry">大赛团队登录</div>
    <% end %>
  </div>
  <%= image_tag("s.png", class: "onsale center-block on-sale-notification") %>
  <div class="on-sale-products">
    <% @on_sale_products.each do |product| %>
      <div class="on-sale-product on-sale-product<%= product.product_view.sale_image_type %>">
        <%= link_to product_path(product) do %>
          <%= tag :img, data: {original: asset_url(product.product_view.sale_image_url)}, class: 'lazy' %>
          <div class="product-information">
            <div class="product-name">
              <%= product.name %>
            </div>
            <div class="product-description">
              <%= product.product_view.home_page_description %>
            </div>
            <div class="product-price">
              <div class="product-current-price">&#165;<%= product.price %></div>
              <%= content_tag :div, class: 'product-original-price', data: {original_price_link: product.original_price_link || ''} do  %>
                <span>京东价格&#165;</span><span><%= product.original_price %></span>
              <% end %>
            </div>
          </div>
          <div class="product-sale-remain-time" data-time="<%= [(product.product_sale_schedules[0].sale_end - Time.zone.now).to_i, 0].max %>">
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if @upcoming_products.any? %>
    <%= image_tag("s.png", class: "upcoming center-block upcoming-notification") %>
  <% end %>
</div>
<div class="container">
  <div class="upcoming-products">
    <% @upcoming_products.each do |product| %>
      <div class="upcoming-product">
        <%= image_tag(asset_url(product.brand.logo_url), class: "brand-image") %>
        <%= image_tag(asset_url(product.product_view.trailer_image_url), class: "trailer-image") %>
        <div class="trailer-content">
          <div class="trailer-time"><%= show_day_of_week(product.product_sale_schedules[0].sale_start.localtime.wday) %></div>
          <div class="trailer-description"> <%= product.product_view.trailer_description %> </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
