<div class="container-fluid">
  <%= image_tag("banner.png", class: "center-img app-banner") %>
  <%= image_tag("onsale.png", class: "center-img on-sale-notification") %>
  <div class="on-sale-products">
    <% @on_sale_products.each do |product| %>
      <div class="on-sale-product on-sale-product<%= product.product_view.sale_image_type %>">
        <%= image_tag product.product_view.sale_image_url %>
        <div class="product-name">
          <%= product.name %>
        </div>
        <div class="product-description">
          <%= product.product_view.home_page_description %>
        </div>
        <div class="product-price">
          <div class="product-current-price">&#165;<%= product.price %></div>
          <div class="product-original-price">原价&#165;<%= product.original_price %> </div>
        </div>
        <div class="product-sale-remain-time" data-time="<%= [(product.product_sale_schedules[0].sale_end - Time.now).to_i, 0].max %>">
        </div>
      </div>
    <% end %>
  </div>
  <%= image_tag("upcoming.png", class: "center-img upcoming-notification") %>
</div>

<div class="container">
  <div class="upcoming-products">
    <% @upcoming_products.each do |product| %>
      <div class="upcoming-product"> 
        <%= image_tag(product.brand.logo_url, class: "brand-image") %>
        <div class="trailer-panel">
          <%= image_tag(product.product_view.trailer_image_url, class: "trailer-image") %>
          <div class="trailer-content">
            <div class="trailer-time"> <%= product.product_sale_schedules[0].sale_start %> </div>
            <div class="trailer-description"> <%= product.product_view.trailer_description %> </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="promises-row">
    <div class="promise-panel">
      <%= image_tag("zhengpin.png", class: "promise-icon") %>
      <div class="promise-content">
        <div class="first-promise">正品保证</div>
        <div class="second-promise">100%优质</div>
      </div>
    </div>
    <div class="promise-panel">
      <%= image_tag("tuihuo.png", class: "promise-icon") %>
      <div class="promise-content">
        <div class="first-promise">7天放心退</div>
        <div class="second-promise">满意的服务</div>
      </div>
    </div>
    <div class="promise-panel">
      <%= image_tag("baoyou.png", class: "promise-icon") %>
      <div class="promise-content">
        <div class="first-promise">全场包邮</div>
        <div class="second-promise">抢购更低价</div>
      </div>
    </div>
    <div class="promise-panel">
      <div class="promise-content">
        <div class="second-promise custom-service-info">客服QQ: 3224707692</div>
        <div class="second-promise custom-service-info">客服电话: 010-64900459</div>
      </div>
    </div>
  </div>
</div>
