<% content_for :body_style do %>
  background-color: #E8E8E8;
<% end %>
<div class="product-detail">
  <% if @contest_team %>
    <div class="game-product-page-banner">
      大学生营销策划赛活动产品
    </div>
  <% elsif @product.product_sale_schedules[0].sale_end < Time.now%>
    <div class="product-detail-countdown-expired">
      抢购已结束
    </div>
  <% else %>
    <div class="product-detail-countdown">
      <%= hidden_field_tag('remain-time-hidden-field', [(@product.product_sale_schedules[0].sale_end - Time.now).to_i, 0].max) %>
      距离抢购结束还有 <span class="show-remain-time"></span>
    </div>
  <% end%>
  <div class="product-detail-content">
    <div class="product-detail-images-container">
      <div class="product-detail-carousel">
        <a class="arrow-left">
          <%= image_tag("mobile_arrows_left.png", class: "arrow-left") %>
        </a>
        <a class="arrow-right">
          <%= image_tag("mobile_arrows_right.png", class: "arrow-right") %>
        </a>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <% @product.product_view.product_carousel_images.each do |image| %>
              <div class="swiper-slide">
                <%= image_tag(image.url, class: "product-detail-image carousel-image") %>
              </div>
            <% end %>
          </div>
        </div>
        <% if @product.product_sale_schedules[0].sale_end < Time.now %>
          <%= image_tag("pc-time-out.png", class: "product-detail-carousel-time-out") %>
        <% elsif @product.quantity == 0%>
          <%= image_tag("pc-sold-out.png", class: "product-detail-carousel-sold-out") %>
        <% end %>
      </div>
      <div class="product-detail-thumnail-panel">
        <% @product.product_view.product_carousel_images.each do |image| %>
          <%= image_tag(image.url, class: "product-detail-thumbnail") %>
        <% end %>
      </div>
    </div>
    <div class="product-detail-text-container" style="float: right">
      <% if @contest_team %>
        <div class="product-detail-flex-box-team"><span><%= @contest_team.name %></span>向您推荐</div>
      <% else %>
        <div class="product-detail-flex-box-y"></div>
      <% end %>
      <div class="product-name"><%= @product.name %></div>
      <div class="product-description">
        <%= @product.product_view.detail_page_description %>
      </div>
      <div class="product-price">
        <% if @product.product_sale_schedules[0].sale_end < Time.now || @product.quantity == 0 %>
          <div class="product-current-price-expired">&#165;<%= @product.price %></div>
        <% else %>
          <div class="product-current-price">&#165;<%= @product.price %></div>
        <% end %>
        <div class="product-original-price">原价&#165;<%= @product.original_price %> </div>
      </div>
      <div class="product-quantity">
        购买数量:（单次限购10个以内）
        <%= hidden_field_tag('quantity-limit-field', Settings.sale.max_quantity) %>
        <div class="product-quantity-panel">
          <a class="quantity-controller quantity-controller-decrease">-</a>
          <input class="quantity-input" type="text" value="1">
          <a class="quantity-controller quantity-controller-increase">+</a>
        </div>
      </div>
      <div class="splitter"></div>
      <div class="promises-row">
        <div class="promise-panel">
          <%= image_tag("zhengpin2.png", class: "promise-icon") %>
          <div class="promise-content">
            <div class="promise">正品</div>
            <div class="promise">保证</div>
          </div>
        </div>
        <div class="promise-panel">
          <%= image_tag("tuihuo2.png", class: "promise-icon") %>
          <div class="promise-content">
            <div class="promise">7天</div>
            <div class="promise">包退</div>
          </div>
        </div>
        <div class="promise-panel">
          <%= image_tag("baoyou2.png", class: "promise-icon") %>
          <div class="promise-content">
            <div class="promise">全场</div>
            <div class="promise">包邮</div>
          </div>
        </div>
      </div>
      <%= link_to new_user_order_path(session[:login_user_id] || 0, {product_id: @product.id}) do %>
        <% if @product.product_sale_schedules[0].sale_end < Time.now || @product.quantity == 0 %>
          <button type="button" class="btn-grey purchase-button" disabled>立即购买</button>
        <% else %>
          <button type="button" class="btn-red purchase-button">立即购买</button>
        <% end %>
      <% end %>
      <% if @contest_team %>
        <div class="product-detail-share">
          <span class="share_title">为TA推广:</span>
          <div class="bdsharebuttonbox" data-tag="share_1">
            <a class="bds_tsina" data-cmd="tsina"></a>
            <a class="bds_qzone" data-cmd="qzone"></a>
            <a class="bds_renren" data-cmd="renren"></a>
            <a class="bds_weixin" data-cmd="weixin"></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="product-detail-notification">
    产品详情
  </div>
  <div>
    <% @product.product_view.product_detail_images.each do |image| %>
      <%= image_tag(image.url, class: "center-block") %>
    <% end %>
  </div>
  <div class="faq">
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2">常见问题</font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Heiti SC Light, serif"><font size="2"><b>1</b></font></font><font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2"><b>、订单提交成功后还可以修改收货信息吗？</b></font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2">订单提交成功后将不可以修改收货信息。如果您需要修改收货信息，您可以进入“订单管理”中取消订单，再重新购买产品并填写新的收货信息。</font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <br>
    </p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Heiti SC Light, serif"><font size="2"><b>2</b></font></font><font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2"><b>、支付完成后还能取消订单吗？如何取消？</b></font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2">支付完成后，配货之前可以取消订单，您可以进入“订单管理”，点击“取消订单”按钮。
      </font></font></span></font>
    </p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <br>
    </p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Heiti SC Light, serif"><font size="2"><b>3</b></font></font><font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2"><b>、订单取消后还能恢复吗？</b></font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2">订单一旦取消后将无法恢复，请您慎重操作。</font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; text-indent: 0.28in; margin-bottom: 0in; widows: 2; orphans: 2">
      <br>
    </p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Heiti SC Light, serif"><font size="2"><b>4</b></font></font><font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2"><b>、如果订单已经支付，取消订单后退款如何返还？</b></font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2">订单取消后，退款会按照你购买时的支付方式原路返回到您的微信</font></font></span></font><font face="Heiti SC Light, serif"><font size="2">/</font></font><font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2">支付宝账户。
      </font></font></span></font>
    </p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <br>
    </p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Heiti SC Light, serif"><font size="2"><b>5</b></font></font><font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2"><b>、对商品不满意可以申请退换货吗？如何操作？</b></font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2">在确认收货后，</font></font></span></font><font face="Heiti SC Light, serif"><font size="2">7</font></font><font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2">天之内可以申请退货。请在订单详情页面中点击申请退货，根据页面提示进行退货。</font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <br>
    </p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Heiti SC Light, serif"><font size="2"><b>6</b></font></font><font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2"><b>、订单已提交成功，如何付款？</b></font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2"><a name="_GoBack"></a>
      <font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2">目前我们支持的支付方式分为：微信支付、支付宝，请在订单提交后</font></font></span></font><font face="Heiti SC Light, serif"><font size="2">30</font></font><font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2">分钟内完成付款。您可以进入“我的订单”中点击付款按钮进行付款。</font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <br>
    </p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Heiti SC Light, serif"><font size="2"><b>7</b></font></font><font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2"><b>、订单已支付成功，什么时候可以发货？</b></font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2">订单提交成功后我们会尽快发货，详细进度您可进入“我的订单”实时查看。
      </font></font></span></font>
    </p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <br>
    </p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Heiti SC Light, serif"><font size="2"><b>8</b></font></font><font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2"><b>、订单发货后，还可以改送到其他地方吗？</b></font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2">订单一旦提交成功，将无法修改。如果您需要修改收货信息，您可以进入“我的订单”中点击退货按钮进行退货，退货后再重新购买产品并填写新的收货信息。</font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <br>
    </p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Heiti SC Light, serif"><font size="2"><b>9</b></font></font><font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2"><b>、我的地址比较偏僻，你们能送到吗？</b></font></font></span></font></p>
    <p align="LEFT" style="margin-right: 0.23in; margin-bottom: 0in; widows: 2; orphans: 2">
      <font face="Arial"><span lang="zh-CN"><font face="Heiti SC Light"><font size="2">一般情况下，邮局可覆盖的范围我们均可以为您配送到。
      </font></font></span></font>
    </p>
    <p style="margin-bottom: 0in"><br>
    </p>
  </div>
</div>