<div class="game_container">
  <div class="game_poster_content">
    <%= image_tag "game_poster.jpg", class: "game_poster" %>
  </div>
  <div class="game_recommend_content">
    <div class="game_recommend_title">
      <h2><%= @contest_team.name %>团队向你推荐</h2>
      <div class="game_share_content">
        <div class="game_share_title">推广: </div>
        <div class="game_share_icons">
          <%=image_tag "game_share_qq.png" %>
          <%=image_tag "game_share_qzone.png" %>
          <%=image_tag "game_share_weibo.png" %>
          <%=image_tag "game_share_wechat.png" %>
        </div>
      </div>
    </div>
    <ul class="game_recommend_product_container">
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
        <li class="game_recommend_product_content">
          <%= image_tag product.product_view.sale_image_url, class:'game_recommend_product_img' %>
          <div class="game_recommend_product_detail">
            <p><%=product.name %></p>
            <p class="recommend_product_price">￥<%=product.price %></p>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div style="height:60px;"></div>
</div>
