<div class="game_container">
  <div class="game_poster_content">
    <%= image_tag "game_poster.jpg", class: "game_poster" %>
  </div>
  <div class="game_recommend_content">
    <div class="game_recommend_title">
      <h2><%= @contest_team.name %>团队向你推荐</h2>
      <div class="game_share_content">
        <div class="game_share_title">为TA推广: </div>
        <div class="game_share_icons">
          <a class="csns-share-button" data-cmd="tsina"></a>
          <a class="csns-share-button" data-cmd="qzone"></a>
          <a class="csns-share-button" data-cmd="renren"></a>
          <a class="csns-share-button" data-cmd="wechat"></a>
        </div>
      </div>
    </div>
    <ul class="game_recommend_product_container">
      <% @products.each do |product| %>
        <li class="game_recommend_product_content">
          <%= link_to product_path(product) do %>
            <%= image_tag product.product_view.sale_image_url, class:'game_recommend_product_img' %>
            <div class="game_recommend_product_detail">
              <p class="game_recommend_product_name"><%=product.name %></p>
              <p class="game_recommend_product_prices">
                <% if product.reduced_price.present? %>
                  <span style="float: right; font-size: 12px; line-height: 22px; padding: 0 3px; background-color: #f3f3f3"><span style="color: #fff; padding: 2px; background-color: #d73131">惠</span><span style="color: #d73131"><%= "减#{product.price - product.reduced_price}元" %></span></span>
                <% end %>
                <span class="recommend_product_price">￥<%=product.price %></span>
                <span class="recommend_product_original_price">￥<%= product.original_price %></span>
              </p>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div style="height:60px;"></div>
</div>
