<!DOCTYPE html>
<html>
  <head>
    <title>Caodoo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application_admin', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">草垛后台管理系统</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="<%= controller.class == Admin::BrandsController ? 'active' : '' %>">
              <%= link_to "品牌管理", admin_brands_path %>
            </li>
            <li class="<%= controller.class == Admin::ProductsController ? 'active' : '' %>">
              <%= link_to "商品管理", admin_products_path %>
            </li>
            <li class="<%= controller.class == Admin::ContestTeamsController ? 'active' : '' %>">
              <%= link_to "比赛团队管理", admin_contest_teams_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= javascript_include_tag 'application_admin' %>
  </body>
</html>
