<!DOCTYPE html>
<html>
  <head>
    <title>Caodoo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <div class="game-header-container">
        <div class="game-header">
          <div class="game-header-logo">
            <%= image_tag "game-header-logo.png" %>
          </div>
          <div class="game-header-system">营销大赛参赛管理系统</div>
          <div class="game-header-service">客服咨询：<span class="custom-service-number"><%= Settings.contact.telephone %></span></div>
          <div class="game-header-setting">
            <div id="game_header_management_menu">
              <div>
                <%= image_tag "line.png" %>
              </div>
              <div class="game_header_management_menu_text">
                <%= link_to "重置密码", edit_contest_team_path(@contest_team) %>
              </div>
              <div class="game_header_management_menu_line"></div>
              <div class="game_header_management_menu_text">
                <%= link_to "退出登录", logout_contest_teams_path %>
              </div>
            </div>
            <div class="game_header_team_name">
              <%= @contest_team.name %>
            </div>
            <div class="game-header-setting-arrow">
              <%= image_tag "game-header-setting-arrow.png" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="team_client_block_container">
      <div class="team_client_block_container_detail">
        <div class="team_client_block_container_menu" style="height: 945px;">
          <ul>
            <li class=<%=controller.class == ContestTeamsController && controller.action_name == 'show' ? 'team_client_block_container_menu_current' : '' %>>
              <%= link_to "团队业绩", contest_team_path(@contest_team) %>
            </li>
            <li class=<%=controller.class == ContestTeamsController && controller.action_name == 'contest_product_links' ? 'team_client_block_container_menu_current' : '' %>>
              <%= link_to "分享链接", contest_product_links_contest_team_path(@contest_team) %>
            </li>
            <li class=<%=controller.class == RefundRecordsController ? 'team_client_block_container_menu_current' : '' %>>
              <%= link_to "退货管理", contest_team_refund_records_path(@contest_team) %>
            </li>
            <li class=<%=controller.class == ContestTeamsController && controller.action_name == 'notification' ? 'team_client_block_container_menu_current' : '' %>>
              <%= link_to "团队须知", notification_contest_team_path(@contest_team) %>
            </li>
          </ul>
        </div>
        <div class="team_client_detail_container">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
