<% content_for :body_style do %>
  background-color: #000 !important;
<% end %>
<% content_for :page_header do %>
  <a href="/" class="logo">
    <%= image_tag "logo_mobile.png" %>
  </a>
<% end %>
<!--container-->
<div class="container">
<div class="banner">
  <a href="m-gamePage.html">
  <%= image_tag "banner_mobile.png", :class => "mwidth_center" %>
  </a>
</div>
<!--now-->
<div class="product_now">
    <%= image_tag "now.png", :class => "mwidth_center" %>
    <%= image_tag "products_img.png", :class => "mwidth_center"%>
</div>
<!--soon-->
    <div class="product_soon">
      <%= image_tag "soon.png", :class => "mwidth_center" %>
      <!--soon products-->
      <div class="mwidth_center">
        <ul class="product_soon_ul">
          <li>
            <a href="m-product-detail.html">
              <%= image_tag "product_one.png" %>
              <div class="product_bottom_black">
              </div>
              <div class="product_infos">
                <div class="product_date">
                  周三
                </div>
                <div class="product_title">
                  吸纳司机空气清洁
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="m-product-detail.html">
              <%= image_tag "product_one.png" %>
              <div class="product_bottom_black">
              </div>
              <div class="product_infos">
                <div class="product_date">
                  周三
                </div>
                <div class="product_title">
                  吸纳司机空气清洁
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="m-product-detail.html">
              <%= image_tag "product_one.png" %>
              <div class="product_bottom_black">
              </div>
              <div class="product_infos">
                <div class="product_date">
                  周三
                </div>
                <div class="product_title">
                  吸纳司机空气清洁
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="m-product-detail.html">
              <%= image_tag "product_one.png" %>
              <div class="product_bottom_black">
              </div>
              <div class="product_infos">
                <div class="product_date">
                  周三
                </div>
                <div class="product_title">
                  吸纳司机空气清洁
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
<!--footer-->

<div class="footer">
  <!--our ts -->
  <div class="ts">
    <ul class="ts_ul">
      <li>
        <%= image_tag "zp_icon.png" %> 正品保证
      </li>
      <li>
        <%= image_tag "qt_icon.png" %> 7天放心退
      </li>
      <li>
        <%= image_tag "qy_icon.png" %> 全场包邮
      </li>
    </ul>
  </div>
</div>
