  <!--container-->
  <div class="product-detail-container">
    <div class="product-detail">
      <div class="on-sale-time-left"><%= hidden_field_tag('remain-time-hidden-field', [(@product.product_sale_schedules[0].sale_end - Time.now).to_i, 0].max) %>
    距离抢购结束还有 <span class="show-remain-time"></span></div>
      <!-- <div class="game-background">大学生营销策划赛活动产品</div> -->
      <div class="product-detail-slider">
        <!-- <img class="product-detail-sold-out" src="img/product-sold-out.png">
        <img class="product-detail-time-out" src="img/product-time-out.png"> -->
        <a class="arrow-left">
          <%= image_tag("arrows-left.png", class: "arrow-left") %>
        </a>
        <a class="arrow-right">
          <%= image_tag("arrows-right.png", class: "arrow-right") %>
        </a>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <% @product.product_view.product_carousel_images.each do |image| %>
            <div class="swiper-slide">
            	<%= image_tag(image.url, class: "product-detail-image") %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="pagination"></div>
      </div>
      <div class="product-detail-text">
        <div class="product-detail-text-team">
          <div class="product-detail-text-name">一二三四五六七八九十一二三四吴</div>
          <div style="float: left; font-size: 16px">向您推荐</div>
        </div>
        <div class="product-detail-text-head"><%= @product.name %></div>
        <div class="product-detail-text-content">
          <%= @product.product_view.detail_page_description %>
        </div>
      </div>
      <div class="product-detail-cost">
        <div class="product-detail-price">
          <div class="product-detail-price-now">&#165;<%= @product.price %></div>
          <div class="product-detail-price-original">
            <del>原价&#165;<%= @product.original_price %></del>
          </div>
        </div>
        <div class="product-detail-quantity">
          <div class="product-detail-quantity-text">数量：(单次限购10个)</div>
           <%= hidden_field_tag('quantity-limit-field', Settings.sale.max_quantity) %>
        <div class="product-quantity-panel">
        </div>
          <div class="product-detail-quantity-controller">
            <a class="quantity-controller-increase">
              <span>+</span>
            </a>
          </div>
          <div class="product-detail-quantity-number">
            <input class="quantity-number" type="text" value="1"></input>
          </div>
          <div class="product-detail-quantity-controller">
            <a class="quantity-controller-decrease">
              <span>-</span>
            </a>
          </div>
        </div>
      </div>
      <div class="product-detail-gurantee">
        <div class="product-detail-gurantee-image">
          <%= image_tag("mobile_zhengping.png", class: "product-detail-gurantee-image") %>
        </div>
        <div class="product-detail-gurantee-text">正品保证</div>
        <div class="product-detail-gurantee-flex"></div>
        <div class="product-detail-gurantee-image">
          <%= image_tag("mobile_qitian.png", class: "product-detail-gurantee-image") %>
        </div>
        <div class="product-detail-gurantee-text">七天包退</div>
        <div class="product-detail-gurantee-flex"></div>
        <div class="product-detail-gurantee-image">
          <%= image_tag("mobile_baoyou.png", class: "product-detail-gurantee-image") %>
        </div>
        <div class="product-detail-gurantee-text">全场包邮</div>
      </div>
       <%= link_to new_user_order_path(session[:login_user_id] || 0, {product_id: @product.id}) do %>
        <button type="button" class="product-detail-submit purchase-button">
          立即购买
        </button>
        <% end %>
      <button disabled type="button" class="product-detail-submit-fade">立即购买</button>
      <div class="product-detail-flex-y"></div>
      <div class="product-detail-share">
        <span class="share_title">

            为TA推广

                </span>
        <div class="bdsharebuttonbox" data-tag="share_1">
          <a class="bds_tsina" data-cmd="tsina"></a>
          <a class="bds_qzone" data-cmd="qzone"></a>
          <a class="bds_renren" data-cmd="renren"></a>
          <a class="bds_weixin" data-cmd="weixin"></a>
        </div>
      </div>
      <div class="product-detail-middle-block">产品详情</div>
      <% @product.product_view.product_detail_images.each do |image| %>
      <%= image_tag(image.url, class: "product-detail-description") %>
      <% end %>
    </div>
